body {
  min-height: 100%;
}

.row.wrapper {
  margin-bottom: 0;
}

a.brand-logo {
  margin-left: 3%;
}

form {
  margin-top: 10%;
}
.col.s8.old-tree {
  padding-left: 0;
}
.old-tree > img {
   width: 100%;
}

footer.page-footer.teal.lighten-2 {
  margin-top: 0;
}
