html {
  height: 100%;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
.old-tree {
  margin-left: -12px;
  max-width: 100%;
  width: 100vw;
  height: 92vh;
  background: url(/images/roots-of-big-old-tree.jpg) no-repeat center center;
  background-size: cover;
}
.row.wrapper {
  margin-bottom: 0;
}
a.brand-logo {
  margin-left: 3%;
}
form {
  margin-top: 20%;
}
footer.page-footer.teal.lighten-2 {
  margin-top: 0;
}
