body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
.offset-s8.old-tree{
    float: left;
    background-image: url(/images/roots-of-big-old-tree.jpg);
}
.row.wrapper {
  margin-bottom: 0;
}
a.brand-logo {
  margin-left: 3%;
}
form {
  margin-top: 10%;
}
.old-tree > img {
  width: 100%;
}
footer.page-footer.teal.lighten-2 {
  margin-top: 0;
}
